body {
  font-family: Arial;
  font-size: 120%;
}

a {
  color: #563d7c;
  text-decoration: none;
  transition: color 0.1s;
}

a:hover {
  color: #8570a5;
}

button {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  font-size: 100%;
  background-color: #563d7c;
  border-radius: 5px;
  padding: 2px 10px;
  color: white;
  border: 0;
  transition: background-color 0.1s;
}

button:hover {
  background-color: #8570a5;
}

.table-highlight {
  background-color: #f5f5f5;
  padding: 1rem;
}


.choices button {
  display: block;
}

.choices button:hover {
  background-color: #8570a5 !important;
}

.choice-btn {
  margin: 10px;
  font-size: 25px !important;
}

input[type="text"] {
  font-size: 100%;
  border-radius: 5px;
  padding: 7px 20px;
  margin: 10px 20px;
  border: 1px solid #ccc;
}

ol {
  padding-left: 0px;
  max-height: 400px;
  overflow: auto;
}

li {
  padding: 5px;
  list-style: decimal inside none;
}

li:nth-child(odd) {
  background-color: #f3edfc;
}

.wrapper {
  margin: 100px auto 0 auto;
  max-width: 80vh;
}

.hide {
  display: none;
}

.start {
  text-align: center;
}

.feedback {
  font-style: italic;
  font-size: 120%;
  margin-top: 20px;
  padding-top: 10px;
  color: gray;
  border-top: 2px solid #ccc;
}

.timer {
  position: absolute;
  top: 5rem;
  right: 10px;
  font-size: 1.4rem;
  color: #7352a5;
}

.score {
  position: absolute;
  top: 7rem;
  right: 10px;
  font-size: 1.4rem;
  color: #704da5;
}

.nav-link {
  color: black !important;
}

.my_nav_link:hover {
  color: #563d7c !important;
}

.incorrect {
  color: red !important;
  font-size: 25px !important;
}

.correct {
  color: green !important;
  font-size: 25px !important;
}

/* media queries */
@media screen and (max-width: 768px) {
    #question-title {
        font-size: 30px !important;
    }
    .choice-btn {
        font-size: 15px !important;
        line-height: 2 !important;
        margin-top: 20px !important;
    }
}
/* end of media query */